/* Start:: Sales Dashboard Styles */
.banner {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, var(--primary08)  0%, var(--primary07)  100%) !important;
  box-shadow: none;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-image: url(../images/media/backgrounds/bg.png);
      background-size: cover;
      background-position: initial;
      background-repeat: repeat;
      z-index: -1;
  }
  img{
    width: 250px !important;
	max-width: 100%;
  }
}

.dash-icon {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 0 auto;
	line-height: 43px;
	position: relative;
	background: #e3e6f9;
	z-index: 1;
	text-align: center;

	i {
		text-align: center;
		vertical-align: middle;
	}

	&:after {
		position: absolute;
		content: "";
		width: 65px;
		height: 65px;
		border-radius: 50%;
		bottom: 0;
		top: -10px;
		inset-inline-end: 0;
		inset-inline-start: -10px;
		background: rgba(235, 237, 252, 0.4);
		z-index: -1;
	}
}

.dash-icon {
	&.text-orange {
		background: rgba(236, 84, 68, 0.2);

		&:after {
			background: rgba(236, 84, 68, 0.1);
		}
	}

	&.text-success {
		background: rgba(36, 228, 172, 0.2);

		&:after {
			background: rgba(36, 228, 172, 0.1);
		}
	}

	&.text-secondary {
		background: rgba(156, 82, 253, 0.2);

		&:after {
			background: rgba(156, 82, 253, 0.1);
		}
	}

	&.text-warning {
		background: rgba(255, 167, 11, 0.2);

		&:after {
			background: rgba(255, 167, 11, 0.1);
		}
	}
}

.activity-block {
	.task-list {
		li {
			padding-inline-start: 25px;
			margin-bottom: 20px;
		}

		padding-top: 0;
	}

	h6 {
		margin-bottom: 0px;
	}

	.task-list {
		&:after {
			inset-inline-start: 5px;
			z-index: 0;
		}

		li .task-icon {
			top: 0;
			inset-inline-start: 0px;
			width: 12px;
			height: 12px;
		}
	}
}

.activity-block .task-list {
	li .task-icon1 {
		top: -8px;
		inset-inline-start: -3px;
	}

	&.user-tasks {
		li {
			padding-inline-start: 55px;
			margin-bottom: 1.95rem;
		}

		&:after {
			inset-inline-start: 17px;
			z-index: 0;
		}
	}
}


.activity-block {
	h6 {
		margin-bottom: 0px;
	}

	.task-list:after {
		inset-inline-start: 5px;
		z-index: 0;
	}
}
.task-list {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 30px 0 0;

	&:after {
		content: "";
		position: absolute;
		background: $default-border;
		height: 100%;
		width: 1px;
		top: -3px;
		inset-inline-start: 30px;
		z-index: 1;
	}

	li {
		margin-bottom: 30px;
		padding-inline-start: 55px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.task-list li {
	.task-icon {
		position: absolute;
		inset-inline-start: 22px;
		top: 13px;
		border-radius: 50%;
		padding: 2px;
		width: 17px;
		height: 17px;
		z-index: 2;
	}

	.task-icon1 {
		position: absolute;
		inset-inline-start: 22px;
		top: 13px;
		border-radius: 50%;
		padding: 2px;
		z-index: 2;
	}
}

.bounce-widget {
	position: absolute;
	left: 77px;
	z-index: 1;
	top: 100px;
  }
  .dot-label {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    margin-inline-end: 5px;
}
/* End:: Sales Dashboard Styles */

/* Start:: Dashboard 3 */
.list.d-flex .app-list {
    width:2.95rem;
    height: 2.95rem;
    border: 1px solid $default-border;
    background: $light;
    padding: 7px;
    border-radius: 5px;
    margin-inline-start: 0.75rem;
}
.list {
	padding: 0.75rem;
}
.top_counties{
	.table td, .table th {
		padding: .72rem;
	}
}
/* End:: Dashboard 3 */

/* Start:: Dashboard 4 */
#students,#instructors,#courses,#assignments{
	.apexcharts-datalabels-group{
		display: none;
	}
}
.software-cat img {
    padding: 9px;
    display: block;
    margin: 0 auto;
    width: 40px;
}
.ang-bg {
    background: #d92d30;
}
.wd-bg {
    background: #006fa5;
}
.re-bg {
    background: #5ed5f4;
}
.vue-bg {
    background: #41b883;
}
.lar-bg {
    background: #ee5045;
}
.node-bg {
    background: #80bd01;
}
@media (max-width: 575px) {
  #totalInvestmentsStats .apexcharts-canvas .apexcharts-toolbar {
        top: -15px !important;
    }
}
.student-overview .list-view{
	margin-bottom: 1.55rem;
}
/* End:: Dashboard 4 */