@import url("../icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../icon-fonts/feather/feather.css");
@import url("../icon-fonts/ionicons/ionicons.css");
@import url("../icon-fonts/materialdesignicons/materialdesignicons.css");
@import url("../icon-fonts/simple-line-icons/simple-line-icons.css");
@import url("../icon-fonts/weathericons/weathericons.css");
@import url("../icon-fonts/font-awesome/css/font-awesome.css");
@import url("../icon-fonts/tabler-icons/iconfont/tabler-icons.css");
@import url("../icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../icon-fonts/boxicons/css/boxicons.css");
@import url("../icon-fonts/RemixIcons/fonts/remixicon.css");