/* Start:: mail-app */
.main-mail-container {
  position: relative;
  overflow: hidden;
  margin: 0 -1.25rem;
}
.mail-navigation,
.total-mails,
.mails-information,
.mail-recepients {
  background-color: $custom-white;
  height: calc(100vh - 9rem);
  overflow: hidden;
  border-radius: $default-radius;
}
.mail-info-body {
  max-height: calc(100vh - 16.3rem);
}
@media (min-width: 1400px) {
  .total-mails {
    // min-width: 24rem;
    // max-width: 24rem;
    // padding-left: 10px;
    // padding-right: 10px;
    .mail-msg {
      span {
        max-width: 17rem;
        display: inline-block;
      }
    }
  }
}
@media (max-width: 1399.98px) {
  .mails-information {
    display: none;
  }
}
@media (min-width: 1400px) and (max-width: 1489.98px) {
  .responsive-mail-action-icons {
    .dropdown {
      display: block;
    }
    .close-button {
      display: none;
    }
  }
  .mail-action-icons {
    display: none;
  }
}
@media (max-width: 1399.98px) {
  .responsive-mail-action-icons {
    display: block;
    display: flex;
  }
  .mail-action-icons {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mail-recepients {
    display: none;
  }
}
@media (min-width: 1489px) {
  .responsive-mail-action-icons {
    display: none;
  }
}
@media (max-width: 991.98px) {
  // .total-mails {
  //   display: none;
  // }
  .mail-navigation {
    width: 100%;
  }
}
@media (min-width: 992px) {
  // .mail-navigation {
  //   min-width: 16rem;
  //   max-width: 16rem;
  // }
}
.total-mails {
  width: 100%;
  height: 100%;
  .mail-messages {
    max-height: calc(100vh - 16.65rem);
    li {
      padding: 1.1rem 1.25rem 0.625rem 1.25rem;
      border-bottom: 1px solid $default-border;
      &.active {
        background-color: $light;
      }
      &:last-child {
        border-bottom: 0;
      }
      .avatar.mail-msg-avatar {
        width: 1.8rem;
        height: 1.8rem;
        &.online:before,
        &.offline:before {
          width: 0.55rem;
          height: 0.55rem;
        }
      }
      .mail-msg {
        .mail-starred {
          i {
            color: $text-muted;
            opacity: 0.5;
          }
          &.true {
            i {
              color: $warning;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.mail-recepients {
  min-width: 4.4rem;
  max-width: 4.4rem;
  .total-mail-recepients {
    max-height: calc(100vh - 12.4rem);
  }
  .mail-recepeint-person {
    .avatar {
      width: 2rem;
      height: 2rem;
      margin-block-end: 1rem;
      &.online:before,
      &.offline:before {
        width: 0.55rem;
        height: 0.55rem;
      }
    }
    &:last-child {
      margin-block-end: 0;
    }
  }
}
.mail-navigation {
  ul.mail-main-nav {
    max-height: calc(100vh - 15rem);
    padding: 1rem;
    margin-block-end: 0;
    li {
      padding: 0.5rem;
      border-radius: $default-border;
      border-radius: $default-radius;
      font-weight: 500;                                           
      div {
        color: $text-muted;
      }
      &.active {
        div {
          color: $primary;
        }
      }
      &:hover {
        div {
          color: $primary;
        }
      }
    }
  }
}
.mails-information {
  width: 100%;
  .mail-info-header {
    padding: 0.75rem;
    border-block-end: 1px solid $default-border;
  }
  .mail-info-footer {
    padding: 0.75rem;
    border-block-start: 1px solid $default-border;
  }
  .mail-attachment {
    padding: 0.25rem;
    width: 12rem;
    height: 2.75rem;
    border: 1px solid $default-border;
    border-radius: $default-radius;
    display: flex;
    align-items: center;
    .attachment-icon {
      svg,
      i {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 2rem;
        margin-inline-end: 0.5rem;
      }
    }
    .attachment-name {
      max-width: 7rem;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
.mail-reply {
  .ql-toolbar.ql-snow .ql-formats {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
#mail-compose-editor {
  .ql-editor {
    min-height: 12.62rem!important;
  }
}
.mail-compose {
  .ql-toolbar.ql-snow .ql-formats {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width:420px) {
  .mail-msg span {
    max-width: 180px;
  }
}

@media (max-width:357px) {
  .mails-information {
    height: calc(100vh - 2rem);
  }
}
/* End:: mail-app */

/* Start:: mail-settings */
.mail-notification-settings,.mail-security-settings {
  width: 60%;
}
@media (max-width: 575.98px) {
  #account-settings {
    .btn-group label {
      font-size: .625rem;
    }
  }
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px !important;
}
.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}
/* End:: mail-settings */


.mail-link, .mail-main {
  margin-top: auto !important;
  margin-bottom: auto !important;
  max-width: 650px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// .main-inbox table tbody tr:hover .icons-mail {
//   display: flex;
//   justify-content: center;
// }

.main-inbox-padding {
  padding: 0.75rem;
}

/* Start:: mail-app */
.main-mail-container {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.mail-navigation,
.mails-information,
.mail-recepients {
  background-color: $custom-white;
  overflow: hidden;
  border-radius: $default-radius;
}
@media (min-width: 1400px) {
  .total-mails {
    .mail-msg {
      span {
        display: inline-block;
      }
    }
  }
}
@media (max-width: 1599.98px) {
  .mail-action-icons {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .mail-navigation {
    width: 100%;
  }
}
.total-mails {
  width: 100%;
  .mail-messages {
    tr {
      &.active td {
        background-color: var(--light-rgb, 0.2);
      }
      &:hover{
        background-color: var(--light-rgb, 0.2);
        transition: none;
      }
      .avatar.mail-msg-avatar {
        width: 1.8rem;
        height: 1.8rem;
        &.online:before,
        &.offline:before {
          width: 0.55rem;
          height: 0.55rem;
        }
      }
      .mail-msg {
        .mail-starred {
          i {
            color: $text-muted;
            opacity: 0.5;
          }
          &.true {
            i {
              color: $warning;
              opacity: 1; 
            }
          }
        }
      }
    }
  }
}
.mail-recepients {
  min-width: 4.4rem;
  max-width: 4.4rem;
  .mail-recepeint-person {
    .avatar {
      width: 2rem;
      height: 2rem;
      margin-block-end: 1rem;
      &.online:before,
      &.offline:before {
        width: 0.55rem;
        height: 0.55rem;
      }
    }
    &:last-child {
      margin-block-end: 0;
    }
  }
}
.mail-navigation {
  ul.mail-main-nav {
    padding: 1rem;
    margin-block-end: 0;
    li {
      padding: 0.5rem;
      border-radius: $default-border;
      border-radius: $default-radius;
      margin: 5px 0px;
      div {
        color: $text-muted;
      }
      &.active, 
        &:hover{
          background-color: $light;
      }
    }
  }
}
.mails-information {
  width: 100%;
  .mail-info-header {
    padding: 0.75rem;
    border-block-end: 1px solid $default-border;
  }
  .mail-info-footer {
    padding: 0.75rem;
    border-block-start: 1px solid $default-border;
  }
  .mail-attachment {
    padding: 0.25rem;
    width: 12rem;
    height: 2.75rem;
    border: 1px solid $default-border;
    border-radius: $default-radius;
    display: flex;
    align-items: center;
    .attachment-icon {
      svg,
      i {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 2rem;
        margin-inline-end: 0.5rem;
      }
    }
    .attachment-name {
      max-width: 7rem;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
#mail-reply-editor .ck-content {
  min-height: 14rem !important;
}

.main-mail-star {
  position: relative;
  bottom: auto;
  top: 0px;
  color: $text-muted;
  bottom: 10px;
  right: 0;
}
.main-mail-star i {
  font-size: 15px;
}
.icons-mail, .mail-hover-icons {
  width: 10rem !important;
}
.total-mails .mail-messages tr:hover .mail-date{
   display: none;
}
.mail-hover-icons a {
  display: none;
}
.total-mails .mail-messages tr:hover .mail-hover-icons a {
  display: block !important;
  font-size: 14px;
  color: $text-muted;
}
.total-mails .mail-messages tr:hover .mail-hover-icons a:not(:last-child) {
  margin-inline-end: 15px;
}
.main-mail-subject {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-mail-subject .text-truncate {
  display: inline;
}
.subject-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.mail-option-read .vertical-phone i {
  font-size: 18px;
}
.mail-option-read .vertical-phone {
  list-style: none;
  display: inline-block;
  color: $text-muted;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.5rem;
  margin: 4px;
  text-align: center;
  transition: 0.4s;
  font-size: 15px;
  border: 1px solid $default-border;
  border-radius: $default-radius;
}
/* End:: mail-app */

/* Start:: mail-settings */
.mail-notification-settings,.mail-security-settings {
width: 60%;
}
@media (max-width: 575.98px){
  #account-settings .btn-group label {
    font-size: .7rem;
    padding: 8px !important;
    flex-wrap: wrap;
}
}
.login-password-length .choices__list--dropdown .choices__item--selectable::after,
.login-password-length .choices__list[aria-expanded] .choices__item--selectable::after {
display: none !important;
}
.login-password-length .choices__list--dropdown .choices__item--selectable,
.login-password-length .choices__list[aria-expanded] .choices__item--selectable {
-webkit-padding-end: 10px !important;
        padding-inline-end: 10px !important;
}

@media (max-width: 575px) {
.mails-information {
  display: none;
}
}
.mail-link, .mail-main {
  margin-top: auto !important;
  margin-bottom: auto !important;
  max-width: 650px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
/* End:: mail-settings */

#mail-compose {
  bottom: 0px;
  height: auto;
  inset-inline-start: auto;
  inset-inline-end: 0px;
}
@media (min-width: 768px){
  #mail-compose .modal-dialog {
      margin-inline-end: 1.75rem !important;
      margin-inline-start: auto !important;
  }

}
.edit-icon{
  top: 60px !important;
}

@media (min-width: 992px) {
  .horizontal-hover.horizontal .sub-slide:hover .sub-slide-menu {
    display: block !important;
  }
}
